@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--radius-2xl: calc(var(--radius) + 8px);
	--radius-3xl: calc(var(--radius) + 12px);
	--radius-4xl: calc(var(--radius) + 16px);
}

:root {
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.922 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
}

[data-vaul-drawer]::after {
	visibility: hidden;
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}

	.btn {
		@apply text-sm px-4 py-1 rounded-lg relative after:absolute after:-inset-[1px] shadow shadow-black disabled:grayscale transition-all duration-200 after:shadow-[inset_0_-3px_5px_0_var(--tw-shadow-color)] overflow-hidden active:scale-95 font-semibold;
	}
	.btn-transparent {
		@apply text-sm px-4 py-1 rounded-lg relative disabled:grayscale transition-all duration-200 overflow-hidden active:scale-95;
	}
	.btn-animated {
		@apply scale-100 hover:scale-105 disabled:hover:scale-100 transition-all duration-200;
	}
	.btn-outline {
		@apply border-violet-700 border bg-gradient-to-b from-white from-10% via-violet-200 via-90% to-violet-200 text-violet-600 after:shadow-violet-400;
	}
	.btn-outline-secondary {
		@apply border-fuchsia-700 border bg-gradient-to-b from-white from-10% via-fuchsia-200 via-90% to-fuchsia-200 text-fuchsia-600 after:shadow-fuchsia-400;
	}
	.btn-outline-neutral {
		@apply border-neutral-700 border bg-gradient-to-b from-white from-10% via-neutral-200 via-90% to-neutral-200 text-neutral-600 after:shadow-neutral-400;
	}
	.btn-outline-success {
		@apply border-green-700 border bg-gradient-to-b from-white from-10% via-green-200 via-90% to-green-200 text-green-600 after:shadow-green-400;
	}
	.btn-outline-warning {
		@apply border-amber-700 border bg-gradient-to-b from-white from-10% via-amber-50 via-90% to-amber-50 text-amber-600 after:shadow-amber-400;
	}
	.btn-outline-destructive {
		@apply border-red-700 border bg-gradient-to-b from-white from-10% via-red-200 via-90% to-red-200 text-red-600 after:shadow-red-400;
	}
	.btn-solid {
		@apply border-violet-700 border bg-gradient-to-b from-violet-600 from-10% via-violet-700 via-90% to-violet-800 text-violet-100 after:shadow-violet-900;
	}
	.btn-solid-secondary {
		@apply border-fuchsia-800 border bg-gradient-to-b from-fuchsia-500 from-10% via-fuchsia-600 via-90% to-fuchsia-700 text-fuchsia-200 after:shadow-fuchsia-900;
	}
	.btn-solid-neutral {
		@apply border-neutral-800 border bg-gradient-to-b from-neutral-500 from-10% via-neutral-600 via-90% to-neutral-700 text-neutral-200 after:shadow-neutral-900;
	}
	.btn-solid-success {
		@apply border-green-700 border bg-gradient-to-b from-green-600 from-10% via-green-700 via-90% to-green-800 text-green-100 after:shadow-green-900;
	}
	.btn-solid-warning {
		@apply border-amber-700 border bg-gradient-to-b from-amber-600 from-10% via-amber-700 via-90% to-amber-800 text-amber-100 after:shadow-amber-900;
	}
	.btn-solid-destructive {
		@apply border-red-700 border bg-gradient-to-b from-red-600 from-10% via-red-700 via-90% to-red-800 text-red-100 after:shadow-red-900;
	}
	.slide {
		@apply absolute inset-0 -left-full flex h-full w-full scale-0 items-center justify-center rounded-lg text-7xl md:text-9xl opacity-0 transition-all duration-300 ease-in-out group-has-[input[name='overflow']:checked]/debug:scale-50 group-has-[input[name='overflow']:checked]/debug:opacity-50 peer-has-[input[name='slide']:checked]:left-full;
	}

	.slide:has(input[name="slide"]:checked) {
		@apply left-0 scale-100 !opacity-100;
	}

	.slide:first-of-type {
		@apply group-has-[label:last-of-type_>_input[name='slide']:checked]:left-full;
	}

	.slide:last-of-type {
		@apply group-has-[label:first-of-type_>_input[name='slide']:checked]:-left-full;
	}

	.slide-tab {
		@apply flex h-10 w-10 cursor-pointer items-center justify-center rounded border py-1 text-white opacity-50 transition-all hover:opacity-100;
	}

	.custom-bg-1 {
		background-color: #e0f2fe;
		background-image:
			repeating-radial-gradient(circle at 0 0, transparent 0, #e0f2fe 10px),
			repeating-linear-gradient(#0284c755, #0284c7);
	}

	.custom-bg-2 {
		--s: 40px; /* control the size*/
		--c1: #fef9c3;
		--c2: #ca8a04;

		--_g:
			var(--c1) 0% 5%, var(--c2) 6% 15%, var(--c1) 16% 25%, var(--c2) 26% 35%, var(
				--c1
			) 36% 45%,
			var(--c2) 46% 55%, var(--c1) 56% 65%, var(--c2) 66% 75%, var(--c1) 76% 85%, var(
				--c2
			) 86% 95%,
			#0000 96%;
		background:
			radial-gradient(50% 50% at 100% 0, var(--_g)),
			radial-gradient(50% 50% at 0 100%, var(--_g)),
			radial-gradient(50% 50%, var(--_g)),
			radial-gradient(50% 50%, var(--_g)) calc(var(--s) / 2) calc(var(--s) / 2)
			var(--c1);
		background-size: var(--s) var(--s);
	}

	.custom-bg-3 {
		background-color: #ffe4e6;
		background-image: radial-gradient(
			ellipse farthest-corner at 10px 10px,
			#e11d48,
			#e11d48 50%,
			#ffe4e6 50%
		);
		background-size: 10px 10px;
	}

	.custom-bg-4 {
		--s: 12px; /* control the size*/
		--c1: #fae8ff;
		--c2: #a21caf;

		--_g: radial-gradient(var(--c2) 49%, #0000 50%);
		background:
			var(--_g) calc(var(--s) / -2) calc(var(--s) / 2),
			repeating-conic-gradient(from 45deg, var(--c1) 0 25%, #0000 0 50%)
			calc(var(--s) / 2) calc(var(--s) / 2),
			var(--_g),
			var(--_g) var(--s) var(--s) var(--c1);
		background-size: calc(2 * var(--s)) calc(2 * var(--s));
	}

	.custom-bg-5 {
		--s: 4px; /* control the size*/
		--c1: #f3e8ff;
		--c2: #7e22ce;

		--_c: #0000 75%, var(--c1) 0;
		--_g1: conic-gradient(at 10% 50%, var(--_c));
		--_g2: conic-gradient(at 50% 10%, var(--_c));
		background:
			var(--_g1),
			var(--_g1) calc(1 * var(--s)) calc(3 * var(--s)),
			var(--_g1) calc(2 * var(--s)) calc(1 * var(--s)),
			var(--_g1) calc(3 * var(--s)) calc(4 * var(--s)),
			var(--_g1) calc(4 * var(--s)) calc(2 * var(--s)),
			var(--_g2) 0 calc(4 * var(--s)),
			var(--_g2) calc(1 * var(--s)) calc(2 * var(--s)),
			var(--_g2) calc(2 * var(--s)) 0,
			var(--_g2) calc(3 * var(--s)) calc(3 * var(--s)),
			var(--_g2) calc(4 * var(--s)) calc(1 * var(--s)),
			var(--c2);
		background-size: calc(5 * var(--s)) calc(5 * var(--s));
	}

	.custom-bg-6 {
		--s: 8px; /* control the size*/
		--c1: #e0e7ff;
		--c2: #4338ca;

		--c: #0000 71%, var(--c1) 0 79%, #0000 0;
		--_s: calc(var(--s) / 2) / calc(2 * var(--s)) calc(2 * var(--s));
		background:
			linear-gradient(45deg, var(--c)) calc(var(--s) / -2) var(--_s),
			linear-gradient(135deg, var(--c)) calc(var(--s) / 2) var(--_s),
			radial-gradient(var(--c1) 35%, var(--c2) 37%) 0 0 / var(--s) var(--s);
	}

	.custom-bg-7 {
		--s: 20px; /* control the size*/
		--c1: #ecfccb;
		--c2: #65a30d;

		background:
			conic-gradient(
				from 30deg at 80%,
				var(--c1) 60deg,
				var(--c2) 0 120deg,
				#0000 0
			),
			conic-gradient(
				from -30deg,
				var(--c2) 120deg,
				var(--c1) 0 240deg,
				var(--c2) 0 300deg,
				var(--c1) 0
			);
		background-size: calc(3 * var(--s) / 2) var(--s);
	}

	.custom-bg-8 {
		background-color: #ffedd5;
		background-image:
			linear-gradient(135deg, #ea580c 25%, transparent 25%),
			linear-gradient(225deg, #ea580c 25%, transparent 25%),
			linear-gradient(45deg, #ea580c 25%, transparent 25%),
			linear-gradient(315deg, #ea580c 25%, #ffedd5 25%);
		background-position:
			10px 0,
			10px 0,
			0 0,
			0 0;
		background-size: 10px 10px;
		background-repeat: repeat;
	}
}

.prose .anchor {
	@apply absolute invisible no-underline;

	margin-left: -1em;
	padding-right: 0.5em;
	width: 80%;
	max-width: 700px;
	cursor: pointer;
}

.anchor:hover {
	@apply visible;
}

.prose .anchor:after {
	@apply text-violet-800 dark:text-violet-500 hidden md:inline-block;
	content: "#";
}

.prose *:hover > .anchor {
	@apply visible;
}

.prose pre {
	@apply bg-neutral-50 dark:bg-neutral-900 rounded-lg overflow-x-auto border border-neutral-200 dark:border-neutral-900 py-2 px-3 text-sm;
}

.prose code {
	@apply px-1 py-0.5 rounded-lg;
}

.prose pre code {
	@apply p-0;
	border: initial;
	line-height: 1.5;
}

.prose code span {
	@apply font-medium;
}

.prose img {
	/* Don't apply styles to next/image */
	@apply m-0;
}

.prose p {
	@apply my-4 text-neutral-800 dark:text-neutral-200;
}

.prose h1 {
	@apply text-4xl font-medium tracking-tight mt-8 mb-4 w-max;
}

.prose h2 {
	@apply text-3xl font-medium tracking-tight mt-8 mb-4 w-max;
}

.prose h3 {
	@apply text-2xl font-medium tracking-tight mt-8 mb-4 w-max;
}

.prose h4 {
	@apply text-xl font-medium tracking-tight mt-8 mb-4 w-max;
}

.prose strong {
	@apply font-semibold text-fuchsia-800 dark:text-fuchsia-400;
}

.prose ul {
	@apply list-disc pl-6;
}

.prose ol {
	@apply list-decimal pl-6 space-y-2;
}

.prose {
	@apply text-left;
}

pre::-webkit-scrollbar {
	display: none;
}

pre {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

table {
	display: block;
	max-width: fit-content;
	overflow-x: auto;
	white-space: nowrap;
}

.title {
	text-wrap: balance;
}

.input {
	@apply rounded px-2;
}

.collapsible-content {
	overflow: hidden;
}
.collapsible-content[data-state="open"] {
	animation: slideDown 300ms ease-out;
}
.collapsible-content[data-state="closed"] {
	animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
	from {
		height: 0;
	}
	to {
		height: var(--radix-collapsible-content-height);
	}
}

@keyframes slideUp {
	from {
		height: var(--radix-collapsible-content-height);
	}
	to {
		height: 0;
	}
}
